*{
padding: 0;
margin: 0;
border: 0;
}
*,*:before,*:after{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input::-webkit-input-placeholder { color: white; }
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
a{
	color: #000;
}
@font-face{
	font-family:' Gilroy-bold';
	src: url(font/gilroy-bold.woff) format(woff);
	font-weight: normal;

}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

.wrapper {}
.container {
	width: 1110px;
	margin: 0 auto;
	/*border: 1px solid black;*/
}
.header{
margin: 0 auto;
border-bottom: 1px solid rgb(167, 193, 204);
}
@media(max-width : 1214px){
	.header{
	max-width: 1110px;
		
	}
	.container{
		max-width: 1110px;
	
	}
}
@media(max-width : 1024px){
.header{
max-width: 900px;	
}
.container{
max-width: 900px;	
}	
}	

.header-container {
	display: grid;
	grid-template-columns: 1fr 2fr 2fr ;
	grid-template-rows: 1fr;
}
.header-logo {
grid-column-start: 1;
grid-column-end: 2;
padding: 10px;
display: grid;
grid-template-columns: 1fr 1fr;

}

.header-menu {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-start: 3;
	grid-column-end: 4;

	
}
.header-menu__title {
justify-self: center;
align-self: center;
font-family: Encode Sans SC;
font-weight: 600;
letter-spacing: 2px;	
}
.logotype{
width: 50px;
height: 50px;
border-radius: 50%;
}
.header-menu__title:hover{
border-bottom: 2px solid #febf01;	
}
.main{
margin-top: 20px;

}
.main-info {
	display: grid;
	grid-template-rows: 1fr 1fr;
/*border-top: 2px solid rgb(167, 193, 204)*/;
margin-top: 40px;
background-color: rgba(255, 255, 255, 0.55);

}

.title {
justify-self: center;
align-self: center;
font-family:Encode Sans SC ;
font-weight: 700;
font-size: 31px;	
}
.text{
	justify-self: center;
	align-self: center;
	padding: 0px 50px;
	font-family:Encode Sans SC ;
	font-weight: 400;
	font-size: 20px;
	text-align: center;
}
.header-language{
	justify-self: left;
	align-self: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
    font-family:Encode Sans SC ;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;

}
.language1:hover {
font-weight: 700;
color: #febf01;
}
.language2:hover {
	font-weight: 700;
	color: #febf01;
}
.language1{
padding-right: 5px;
	
}
.main-image{
height: 700px;
width: 400px;
box-shadow: 20px 20px 1px rgb(167, 193, 204);

}
.main-image2{

}
.main-information{
display: grid;	
grid-template-columns: 1fr 2fr;
}
.main-title {
font-family:Encode Sans SC ;
    font-size: 50px;
    font-weight: 700;
    padding: 5px;
}
.main-title2 {
	font-family:Encode Sans SC ;
    font-size: 50px;
    font-weight: 700;
    padding: 5px;
}
.main-about {
	font-family:Encode Sans SC ;
    font-size: 15px;
    font-weight: 400;
    align-self: center;
    margin-top: 5px;
    padding: 10px;
}
.main-about1 {
	font-family:Encode Sans SC ;
    font-size: 15px;
    font-weight: 400;
    align-self: center;
    margin-top: 10px;
    padding: 10px;
}
.main-information1{
display: grid;
grid-template-rows: 55px 55px 30px 30px 1fr;	
}
body{
background-image: url(pictures/back.jpeg);
background-attachment: fixed;	
}
.main-information__skills{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr ;
border-top: 2px solid rgb(167, 193, 204);
margin-top: 10px ;
grid-row-gap: 15px;
grid-column-gap: 5px;
}
.logo{
height: 100px;
width: 100px;
justify-self: center;
align-self: top;
box-shadow: 9px 9px rgb(167, 193, 204);
grid-row-start: 2;
}
.logo2{
height: 100px;
width: 100px;
justify-self: center;
align-self: top;
box-shadow: 9px 9px rgb(167, 193, 204);


}
.photo{
grid-row-start: 3;
grid-row-end: 4;
grid-column-start: 3;
grid-column-end: 4;	
}
.fig{
grid-row-start: 3;
grid-row-end: 4;
grid-column-start: 2;
grid-column-end: 3;	
}
.eng{
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 3;
grid-row-end: 4;	
}
.about{
font-family:Encode Sans SC ;
    font-size: 20px;
    font-weight: 400;
    justify-self: center;
    grid-row-start: 3;
}
.load{
height: 10px;
width: 120px;
background: black;	
}
.skills-title{
font-family:Encode Sans SC ;
    font-size: 50px;
    font-weight: 700;
    grid-column-start: 2;
    justify-self: center;
    align-self: center;
    
    padding: 5px;
    color: black;	
}
.footer-container{
display: grid;
grid-template-columns: 1fr 2fr 1fr;	
}
.footer{
border-top:2px solid rgb(167, 193, 204) ;	
}
.footer-emails{
display: grid;
grid-template-columns: repeat(3, 1fr);
justify-content: space-between;	
align-self: center;
}
.mail-logo{
height: 50px;
width: 50px;
justify-self: center;	
}
.r{
justify-self: center;
align-self: center;	
}
.footer-numbers{
display: grid;
grid-template-rows: 1fr 1fr;
justify-self: center;
align-self: center;

grid-column-start: 3;
font-family:Encode Sans SC ;
    font-size:15px;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 2px 2px black; 	
}
.numbers{
padding: 10px;	
}
.mails{
padding: 10px;	
}
.main-work {
	background-color: rgba(255, 255, 255, 0.55);
	
}
.main-work__container {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 100px 1fr 1fr 1fr;	
}
.main-work__title {
font-family:Encode Sans SC ;
    font-size:25px;
    font-weight: 700;
    justify-self: center;
    align-self: center;	
}
.first_work {
margin-bottom: 30px;	
	
}
.first {
height: 600px;
width: 1110px;
	
}
.second_work {}
.third_work {}
.first:hover{
opacity: 0.9;
box-shadow: 10px 10px rgb(167, 193, 204);

}
a{
color: black;
}